<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ApplyMapper">

    <select id="selectAll" resultType="com.example.entity.Apply">
        select apply.*, user.name as userName from `apply`
        left join user on apply.userId = user.id
        <where>
            <if test="title != null and title != ''">title like concat('%', #{title}, '%')</if>
            <if test="userId != null"> and userId = #{userId}</if>
        </where>
        order by id desc
    </select>

    <insert id="insert">
        insert into `apply` (title, content, time, userId, status, reason, img)
        values(#{title}, #{content}, #{time}, #{userId}, #{status}, #{reason}, #{img})
    </insert>

    <update id="updateById">
        update `apply` set title = #{title}, content = #{content}, time = #{time}, userId = #{userId},
        status = #{status}, reason = #{reason}, img = #{img}
        where id = #{id}
    </update>


</mapper>