<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.NoticeMapper">

    <resultMap id="NoticeResultMap" type="com.example.entity.Notice">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="time" column="time"/>
        <result property="showInCarousel" column="showInCarousel"/>
    </resultMap>

    <select id="selectAll" resultMap="NoticeResultMap">
        select * from `notice`
        <where>
            <if test="title != null and title != ''">title like concat('%', #{title}, '%')</if>

        </where>
        order by id desc
    </select>

    <insert id="insert">
        insert into `notice` (title, content, time, showInCarousel)
        values(#{title}, #{content}, #{time}, #{showInCarousel})
    </insert>

    <update id="updateById">
        update `notice` set title = #{title}, content = #{content}, time = #{time}, showInCarousel = #{showInCarousel}
        where id = #{id}
    </update>

</mapper>